:root {
  --font-family: "PT Sans", sans-serif;
  --second-family: "Francois One", sans-serif;
  --third-family: "Farro", sans-serif;
  --font3: "Staatliches", sans-serif;
  --font4: "Tourney", sans-serif;
}

body {
  width: 1200px;
  margin: 0 120px 90px 120px;
}

header {
  height: 80px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;
    height: 54px;

    div {
      display: flex;
      gap: 50px;
      align-items: baseline;

      span {
        font-family: var(--font4);
        font-size: 22px;
        font-weight: 700;
        line-height: 18px;
      }

      a {
        font-family: var(--font3);
        font-weight: 400;
        font-size: 22px;
        color: #000000;
      }
    }
  }
}

h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 40px;
}

sup {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 30px;
  text-transform: none;
}

p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  /* letter-spacing: 0%; */
  margin-bottom: 40px;
}

span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  /* letter-spacing: 0%; */
}

text {
  background-color: #dadada;
}
